Repository Medicare-Call/Medicare-Call-Backend, pull requests merged in 2025-08, with the labels that each got.

#125 Fix/process meal data
  src/main/java/com/example/medicare_call/service/data_processor/ai/AiSummaryService.java
  src/main/java/com/example/medicare_call/service/report/HomeReportService.java
  src/test/java/com/example/medicare_call/service/report/HomeReportServiceTest.java
Labels: bug

#131 fix: 시스템 기본 타임존 변경
  src/main/java/com/example/medicare_call/MedicareCallApplication.java
Labels: bug

#133 feat: Medication 데이터 마이그레이션
  src/main/java/com/example/medicare_call/controller/HealthDataController.java
  src/main/java/com/example/medicare_call/domain/Medication.java
  src/main/java/com/example/medicare_call/domain/MedicationSchedule.java
  src/main/java/com/example/medicare_call/domain/MedicationTakenRecord.java
  src/main/java/com/example/medicare_call/repository/MedicationRepository.java
  src/main/java/com/example/medicare_call/service/carecall/prompt/FirstCallPromptGenerator.java
  src/main/java/com/example/medicare_call/service/carecall/prompt/ImmediateCallPromptGenerator.java
  src/main/java/com/example/medicare_call/service/carecall/prompt/SecondCallPromptGenerator.java
  src/main/java/com/example/medicare_call/service/carecall/prompt/ThirdCallPromptGenerator.java
  src/main/java/com/example/medicare_call/service/data_processor/MedicationService.java
  src/main/java/com/example/medicare_call/service/report/ElderHealthInfoService.java
  src/main/java/com/example/medicare_call/service/report/HomeReportService.java
  src/main/java/com/example/medicare_call/service/report/WeeklyReportService.java
  src/main/resources/db/migration/V18__deprecate_medication_table.sql
  src/main/resources/db/migration/V19__remove_columns_from_medication_schedule.sql
  src/test/java/com/example/medicare_call/service/ElderHealthInfoServiceTest.java
  src/test/java/com/example/medicare_call/service/data_processor/MedicationServiceTest.java
  src/test/java/com/example/medicare_call/service/report/HomeReportServiceTest.java
  src/test/java/com/example/medicare_call/service/report/WeeklyReportServiceTest.java
Labels: enhancement

#139 edit: 미사용 테이블 제거 마이그레이션
  src/main/java/com/example/medicare_call/domain/GuardianSettings.java
  src/main/java/com/example/medicare_call/domain/WeeklyStats.java
  src/main/java/com/example/medicare_call/repository/GuardianSettingsRepository.java
  src/main/java/com/example/medicare_call/repository/WeeklyStatsRepository.java
  src/main/resources/db/migration/V22__drop_guardian_settings_and_weekly_stats_tables.sql
Labels: edit

#138 feat: 일일, 주간 데이터 조회 API 에러코드 추가
  src/main/java/com/example/medicare_call/global/ErrorResponse.java
  src/main/java/com/example/medicare_call/global/exception/ErrorCode.java
  src/main/java/com/example/medicare_call/service/data_processor/MedicationService.java
  src/main/java/com/example/medicare_call/service/report/HealthAnalysisService.java
  src/main/java/com/example/medicare_call/service/report/HomeReportService.java
  src/main/java/com/example/medicare_call/service/report/MealRecordService.java
  src/main/java/com/example/medicare_call/service/report/MentalAnalysisService.java
  src/main/java/com/example/medicare_call/service/report/SleepRecordService.java
  src/main/java/com/example/medicare_call/service/report/WeeklyReportService.java
  src/test/java/com/example/medicare_call/service/data_processor/MedicationServiceTest.java
  src/test/java/com/example/medicare_call/service/report/HomeReportServiceTest.java
  src/test/java/com/example/medicare_call/service/report/MealRecordServiceTest.java
  src/test/java/com/example/medicare_call/service/report/MentalAnalysisServiceTest.java
  src/test/java/com/example/medicare_call/service/report/SleepRecordServiceTest.java
  src/test/java/com/example/medicare_call/service/report/WeeklyReportServiceTest.java
Labels: enhancement

#141 doc: ReadMe 추가
  README.md
Labels: documentation

#142 doc: README 이미지 추가
  README.md
Labels: documentation

#145 feat: 즉시 케어콜 발송 API 어르신 선택, 케어콜 종류 선택 지원
  src/main/java/com/example/medicare_call/controller/CareCallController.java
  src/main/java/com/example/medicare_call/dto/carecall/ImmediateCareCallRequest.java
  src/main/java/com/example/medicare_call/service/carecall/CareCallRequestSenderService.java
  src/test/java/com/example/medicare_call/controller/CareCallControllerImmediateTest.java
  src/test/java/com/example/medicare_call/service/carecall/CareCallRequestSenderServiceImmediateTest.java
  src/test/java/com/example/medicare_call/service/carecall/CareCallSchedulerServiceTest.java
Labels: enhancement

#146 fix: 식사 거름, 식사 응답 안함 상태값을 구분하지 못하는 문제
  src/main/java/com/example/medicare_call/domain/MealRecord.java
  src/main/java/com/example/medicare_call/service/report/HomeReportService.java
  src/main/java/com/example/medicare_call/service/report/WeeklyReportService.java
  src/test/java/com/example/medicare_call/service/report/HomeReportServiceTest.java
  src/test/java/com/example/medicare_call/service/report/WeeklyReportServiceTest.java
Labels: enhancement

#149 fix: 주간 통계 복용 횟수, 미응답 건수 개선
  src/main/java/com/example/medicare_call/service/report/WeeklyReportService.java
  src/test/java/com/example/medicare_call/service/report/WeeklyReportServiceTest.java
Labels: bug

#152 hotfix: OpenAI Request Timeout 적용
  src/main/java/com/example/medicare_call/global/config/RestTemplateConfig.java
  src/main/java/com/example/medicare_call/service/data_processor/ai/AiHealthDataExtractorService.java
  src/test/java/com/example/medicare_call/service/data_processor/HealthDataExtractionIntegrationTest.java
Labels: bug

#153 edit: 심리 상태, 건강 상태 노출 방법 변경
  src/main/java/com/example/medicare_call/service/report/HomeReportService.java
  src/test/java/com/example/medicare_call/service/report/HomeReportServiceTest.java
Labels: edit

#155 feat: AI 증상 분석 코멘트 추가
  src/main/java/com/example/medicare_call/service/data_processor/ai/AiSummaryService.java
  src/main/java/com/example/medicare_call/service/report/HealthAnalysisService.java
Labels: enhancement

#156 refactor: 홈 화면 ai 요약 프롬프트 개선
  src/main/java/com/example/medicare_call/service/data_processor/ai/AiSummaryService.java
Labels: refactoring

#157 feat: WeeklyReportResponse에 구독 시작 데이터 추가
  src/main/java/com/example/medicare_call/dto/report/WeeklyReportResponse.java
  src/main/java/com/example/medicare_call/global/exception/ErrorCode.java
  src/main/java/com/example/medicare_call/service/report/WeeklyReportService.java
  src/test/java/com/example/medicare_call/service/report/WeeklyReportServiceTest.java
Labels: enhancement
